<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <body>
    <h1>Help</h1>
    <p>
      Aprende las reglas de Battleship en <a href="http://boardgames.about.com/od/battleship/a/Rules-of-Battleship.htm">Reglas BattleShip</a></p>
  </body>
</html>