<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <body>
    <h1>Juega BattleShip</h1>
    <p>
      Juega BattleSHip(Batalla Naval) con un amigo
    </p>
    <%= link_to "Sign up now!",signup_path, class: "btn btn-lg btn-primary" %>
</div>

  </body>
</html>