<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h2>SCORE</h2>
<table class="reference" style="width:100%">
<tr>
	<th>Nombre</th>
	<th>Ganadas</th>
	<th>Empatadas</th>		
	<th>Perdidas</th>
</tr>
<tr>
	<td><%= @user.name %></td>
    <td><%= @user.win %></td>
    <td><%= @user.draw %></td>
    <td><%= @user.lose %></td>
</tr>
</table> 
      
    </section>
  </aside>
</div>
